@charset "UTF-8";

	* {
		box-sizing: border-box;
	}
	
	a {
		text-decoration: none;
		color: black;
	}
	body {
		background: gray;
	}
	
	.lgn_background {
		text-align: center;
	}
	
	.lgn_main {
		background: white;
		position: relative;
		width: 600px;
		height: 600px;
		border-radius: 10px;
		text-align: center;
		margin: 0px auto;
		top: 150px;
	}
	
	.lgn_text {
		padding-top: 30px;
		font-size: 40px;
		font-weight: bold;
	}
	
	.input_text {
		width: 450px;
		height: 80px;
		background: silver;
		border-radius: 10px;
		font-size: 25px;
		padding-left: 20px;
		border-width: 0px;
	}
	
	.input_text:nth-of-type(1) {
		margin-top: 30px;
	}
	.input_text:nth-of-type(2) {
		margin: 10px 0px 20px 0px;
	}
	
	.lgn_main_middle {
		border-radius: 10px;
		float: left;
		margin-left: 75px;
	}
	.lgn_main_middle > img {
		width: 105px;
		height: 60px;
		border-radius: 10px;
	}
	
	.lgn_main_middle > img:nth-of-type(2){
		margin: 0px 5px 0px 10px;
	}
	
	.lgn_main_middle > img:nth-of-type(3){
		margin: 0px 10px 0px 5px;
	}
	
	.lgn_main_middle_right{
		text-align: center;
		line-height: auto;
	}
	
	.fas {
		border: 1px solid silver;
		width: 100px;
		height: 70px;
		border-radius: 10px;
		font-size: 50px;
	}
	
	.input_keep_lgn {
		float: left;
	}
	
	.lgn_main_bottom {
		margin-top: 70px;
		bottom: 30px;	
	}
	
	.lgn_main_bottom > a:nth-of-type(2) {
		margin: 0px 20px;
	}
	